# Data Preprocessing:

# Load Data

In [22]:
import pandas as pd
df=pd.read_csv(r'C:\Users\Mandar\Downloads\Car Dataset.csv')
df

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [23]:
df.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

# feature engineering:

1. Data Cleaning
2. Handling null data
3. Handling Outliers
4. Encode the object data type column of the dataframe.
5. Removing skewness
6. Scale the data
7. Train test split

# Data cleaning:
It is a method in data science which helps in preparing the data according to business need.

Handling Nan values:
No need to Handling Nan value.

In [24]:
df.dtypes

name             object
year              int64
selling_price     int64
km_driven         int64
fuel             object
seller_type      object
transmission     object
owner            object
dtype: object

In [25]:
df.skew()

C:\Users\Mandar\AppData\Local\Temp\ipykernel_13300\1665899112.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.skew()

year            -0.833240
selling_price    4.892021
km_driven        2.669057
dtype: float64

In [26]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
def encode(df):
    for col in df.columns:
        if df[col].dtypes=="object":
            df[col]=le.fit_transform(df[col])
    return df
df=encode(df)

# skewness removal: remove skewness from data

In [27]:
from sklearn.preprocessing import power_transform
def rem_skew(df):
    feature_df=df.drop(["selling_price"],axis=1)
    target_df=df[["selling_price"]]
    array_data=power_transform(feature_df,method="yeo-johnson")
    feature_df=pd.DataFrame(array_data,columns=feature_df.columns)
    df=pd.concat([feature_df,target_df],axis=1)
    return df
df=rem_skew(df)

C:\Users\Mandar\anaconda3\lib\site-packages\sklearn\preprocessing\_data.py:3218: RuntimeWarning: overflow encountered in power
  out[pos] = (np.power(x[pos] + 1, lmbda) - 1) / lmbda
C:\Users\Mandar\anaconda3\lib\site-packages\numpy\core\_methods.py:233: RuntimeWarning: overflow encountered in multiply
  x = um.multiply(x, x, out=x)
C:\Users\Mandar\anaconda3\lib\site-packages\numpy\core\_methods.py:244: RuntimeWarning: overflow encountered in reduce
  ret = umr_sum(x, axis, dtype, out, keepdims=keepdims, where=where)

# Scale the data:

# Standerd Scaler

In [54]:
from sklearn.preprocessing import StandardScaler
import pandas as pd
sc=StandardScaler()
def scale_ss(dataframe):
    list_col_object=[col for col in list(dataframe.columns) if dataframe[col].dtypes=="object"]
    list_col_num=[col for col in list(dataframe.columns) if dataframe[col].dtypes!="object"]
    df_num=dataframe[list_col_num]
    array_data=sc.fit_transform(df_num)
    df_num=pd.DataFrame(array_data,columns=df_num.columns)
    df=pd.concat([df_num,dataframe[list_col_object]],axis=1)
    return df
df_scaled_standard_scaler=scale_ss(df)
df_scaled_standard_scaler

,name,year,km_driven,fuel,seller_type,transmission,owner,selling_price
0,0.116145,-1.443267,0.283661,1.007753,0.388837,0.339276,-0.727470,-0.767746
1,0.732892,-1.443267,-0.181462,1.007753,0.388837,0.339276,-0.727470,-0.638096
2,-0.553219,-0.312741,0.854361,-0.956756,0.388837,0.339276,-0.727470,0.165731
3,-1.668851,0.954345,-0.286877,1.007753,0.388837,0.339276,-0.727470,-0.439300
4,-1.168738,0.176844,1.491549,-0.956756,0.388837,0.339276,1.339282,-0.093568
...,...,...,...,...,...,...,...,...
4335,-0.306406,0.176844,0.487334,-0.956756,0.388837,0.339276,1.339282,-0.162716
4336,-0.308910,0.176844,0.487334,-0.956756,0.388837,0.339276,1.339282,-0.162716
4337,0.120918,-1.006485,0.545532,1.007753,0.388837,0.339276,1.339282,-0.681313
4338,-0.882425,0.689256,0.676757,-0.956756,0.388837,0.339276,-0.727470,0.623827
4339,0.985497,0.689256,-0.455465,1.007753,0.388837,0.339276,-0.727470,-0.482517

# MinMax Scaler

In [28]:
from sklearn.preprocessing import MinMaxScaler
mms=MinMaxScaler(feature_range=(-1, 1))
def scale_mms(dataframe):
    list_col_object=[col for col in list(dataframe.columns) if dataframe[col].dtypes=="object"]
    list_col_num=[col for col in list(dataframe.columns) if dataframe[col].dtypes!="object"]
    df_num=dataframe[list_col_num]
    df_obj=dataframe[list_col_object]
    array_data=mms.fit_transform(df_num)
    df_num=pd.DataFrame(array_data,columns=df_num.columns)
    df=pd.concat([df_num,df_obj],axis=1)
    return df
dataframe_mms_scaled=scale_mms(df)
dataframe_mms_scaled

,name,year,km_driven,fuel,seller_type,transmission,owner,selling_price
0,0.175548,-0.087692,-0.292095,1.000000,-0.209003,1.0,-1.000000,-0.990991
1,0.494368,-0.087692,-0.386884,1.000000,-0.209003,1.0,-1.000000,-0.974099
2,-0.170472,0.293005,-0.175791,-0.196388,-0.209003,1.0,-1.000000,-0.869369
3,-0.747185,0.719688,-0.408367,1.000000,-0.209003,1.0,-1.000000,-0.948198
4,-0.488658,0.457869,-0.045937,-0.196388,-0.209003,1.0,0.802395,-0.903153
...,...,...,...,...,...,...,...,...
4335,-0.042885,0.457869,-0.250588,-0.196388,-0.209003,1.0,0.802395,-0.912162
4336,-0.044179,0.457869,-0.250588,-0.196388,-0.209003,1.0,0.802395,-0.912162
4337,0.178015,0.059391,-0.238728,1.000000,-0.209003,1.0,0.802395,-0.979730
4338,-0.340652,0.630421,-0.211985,-0.196388,-0.209003,1.0,-1.000000,-0.809685
4339,0.624950,0.630421,-0.442724,1.000000,-0.209003,1.0,-1.000000,-0.953829

# Train Test Split method
''' Train test split method will split the data into training and testing data randomly.

Steps involved in splitting the data:

Split the feature and the target column.

Pass parameter random_state, test_size and shuffle.

It will return four values. x_train, x_test,y_train,y_test

x_train : This is the training data of the feature columns. x_test: This is the testting of the feature column. y_train: This is the training data of the target column y_test: This is the testing data of the target column.

The number of rows of x_train and y_train will be same. Number of columns will be different. The number of rows of x_test and y_test will be same. Number of columns will be different. '''

In [35]:
# splitting of data:
from sklearn.model_selection import train_test_split
def split_data(df):
    feature_df=df.drop(["selling_price"],axis=1)
    target_df=df[["selling_price"]]
    x_train,x_test,y_train,y_test=train_test_split(feature_df,target_df,random_state=0,test_size=0.2,shuffle=True)
    return x_train,x_test,y_train,y_test
x_train,x_test,y_train,y_test=split_data(df)

# Model training

In [56]:
#x_train,y_train is used for the model training. x_test,y_test is used for the model testing
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [52]:
# Testing the accuracy of the model on training data:
from sklearn.metrics import r2_score
print(f"The accuracy of the regression model is {r2_score(y_train,lr.predict(x_train))*100}%")
print(f"The accuracy of the regression model is {r2_score(y_test,lr.predict(x_test))*100}%")

The accuracy of the regression model is 44.110192703468506%
The accuracy of the regression model is 49.99441988511367%

# Others metrics for validating the model

In [41]:
# mean squared error
from sklearn.metrics import mean_squared_error
def test_mean_squared_error(x_test,y_test):
    expected_data=y_test
    actual=lr.predict(x_test)
    return f"The mean_squared_error of the model is {mean_squared_error(actual,expected_data)}"
test_mean_squared_error(x_test,y_test)

'The mean_squared_error of the model is 185696323190.12198'

In [15]:
# mean absolute error
from sklearn.metrics import mean_absolute_error
def test_mean_absolute_error(x_test,y_test):
    expected_data=y_test
    actual=lr.predict(x_test)
    return f"The mean_absolute_error of the model is {mean_absolute_error(actual,expected_data)}"
test_mean_absolute_error(x_test,y_test)

'The mean_absolute_error of the model is 244275.94708444213'

In [16]:
# root mean square error
from sklearn.metrics import mean_squared_error
import numpy as np
def test_root_mean_absolute_error(x_test,y_test):
    expected_data=y_test
    actual=lr.predict(x_test)
    return f"The mean_absolute_error of the model is {np.sqrt(mean_absolute_error(actual,expected_data))}"
test_root_mean_absolute_error(x_test,y_test)

'The mean_absolute_error of the model is 494.2428017527844'

# Model Training using random forest regressor:

In [42]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
rfr=RandomForestRegressor()
def model_validation_rfr(x_train,x_test,y_train,y_test):
    rfr.fit(x_train,y_train)
    predicted_tr=rfr.predict(x_train)
    predicted_ts=rfr.predict(x_test)
    print(f'''
    The accuracy of the Random Forest Regressor model on the training data is {r2_score(y_train,predicted_tr)*100}% and on the 
    testing data is {r2_score(y_test,predicted_ts)*100}%.
    ''')
model_validation_rfr(x_train,x_test,y_train,y_test)

C:\Users\Mandar\AppData\Local\Temp\ipykernel_13300\2631314196.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfr.fit(x_train,y_train)

    The accuracy of the Random Forest Regressor model on the training data is 96.8270422994955% and on the
    testing data is 82.20463165004128%.

# Model Training using Boosting Regressor:

In [43]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import r2_score
def model_validation(x_train,x_test,y_train,y_test):
    gbr=GradientBoostingRegressor()
    gbr.fit(x_train,y_train)
    predicted_tr=gbr.predict(x_train)
    predicted_ts=gbr.predict(x_test)
    return f'''
    The accuracy of the gbr with default for training data is {r2_score(y_train,predicted_tr)*100} %.
    The accuracy of the gbr with default for testing data is {r2_score(y_test,predicted_ts)*100} %.
    '''
model_validation(x_train,x_test,y_train,y_test)

C:\Users\Mandar\anaconda3\lib\site-packages\sklearn\ensemble\_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

'\n    The accuracy of the gbr with default for training data is 85.27340966043242 %.\n    The accuracy of the gbr with default for testing data is 80.3201119222664 %.\n    '

# Hyper parameter tuning with grid search cv:

Cross-validation is used when you need to compare the efficacy of various hyperparameter settings throughout the tuning process. The model is trained and tested for each possible hyperparameter setting, and the results are summarized over k iterations to provide an overall performance score.

In [19]:
from sklearn.ensemble import GradientBoostingRegressor
def model_training_best_parameters(x_train,x_test,y_train,y_test):
    gbr=GradientBoostingRegressor(learning_rate=0.1,loss="huber")
    gbr.fit(x_train,y_train)
    predicted_tr=gbr.predict(x_train)
    predicted_ts=gbr.predict(x_test)
    return f'''
    The accuracy of the gbr with default for training data is {r2_score(y_train,predicted_tr)*100} %.
    The accuracy of the gbr with default for testing data is {r2_score(y_test,predicted_ts)*100} %.
    '''
model_training_best_parameters(x_train,x_test,y_train,y_test)

C:\Users\Mandar\anaconda3\lib\site-packages\sklearn\ensemble\_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

'\n    The accuracy of the gbr with default for training data is 71.02772454947772 %.\n    The accuracy of the gbr with default for testing data is 77.08072446967094 %.\n    '

In [44]:
import xgboost as xgb
def model_validation(x_train,x_test,y_train,y_test):
    xgb_reg=xgb.XGBRFRegressor()
    xgb_reg.fit(x_train,y_train)
    predicted_tr=xgb_reg.predict(x_train)
    predicted_ts=xgb_reg.predict(x_test)
    return f'''
    The accuracy of the abr with default for training data is {r2_score(y_train,predicted_tr)*100} %.
    The accuracy of the abr with default for testing data is {r2_score(y_test,predicted_ts)*100} %.
    '''
model_validation(x_train,x_test,y_train,y_test)

'\n    The accuracy of the abr with default for training data is 83.56774049253923 %.\n    The accuracy of the abr with default for testing data is 74.85927895832243 %.\n    '

# Model Training using Bayesian Regression:

In [46]:
from sklearn.linear_model import BayesianRidge
br = BayesianRidge().fit(x_train, y_train)

br_train_pred = br.predict(x_train)
br_test_pred = br.predict(x_test)


br_train_mse = mean_squared_error(y_train, br_train_pred)
br_test_mse = mean_squared_error(y_test, br_test_pred)


print('MSE train data: {:.5}, MSE test data: {:.5}'.format(br_train_mse, br_test_mse))

print('RMSE train data: {:.5}, RMSE test data: {:.5}'.format(
    np.sqrt(np.absolute(br_train_mse)), 
    np.sqrt(np.absolute(br_train_mse))))
                                                               
print('R2 train data: {:.5}, R2 test data: {:.5}'.format(
    r2_score(y_train, br_train_pred),
    r2_score(y_test, br_test_pred)))

MSE train data: 1.818e+11, MSE test data: 1.8578e+11
RMSE train data: 4.2638e+05, RMSE test data: 4.2638e+05
R2 train data: 0.4411, R2 test data: 0.49971

C:\Users\Mandar\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [49]:
from sklearn.linear_model import BayesianRidge
def model_validation(x_train,x_test,y_train,y_test):
    br = BayesianRidge()
    br.fit(x_train,y_train)
    br_train_pred = br.predict(x_train)
    br_test_pred = br.predict(x_test)
    return f'''
    The accuracy of the BR with default for training data is {r2_score(y_train,br_train_pred)*100} %.
    The accuracy of the BR with default for testing data is {r2_score(y_test,br_test_pred)*100} %.
    '''
model_validation(x_train,x_test,y_train,y_test)

C:\Users\Mandar\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

'\n    The accuracy of the BR with default for training data is 44.10986904946639 %.\n    The accuracy of the BR with default for testing data is 49.97059371099828 %.\n    '